<!DOCTYPE html>
<html>
  {{template "head"}}
  <body>
    <div class="content">
      {{template "header"}}

      <main>
        {{ if eq .Name "create" }}
        {{ template "create" }}
        {{ else if eq .Name "view-redirect" }}
        {{ template "view-redirect" . }}
        {{ else if eq .Name "failure" }}
        {{ template "failure" }}
        {{ else if eq .Name "deleted" }}
        {{ template "deleted" }}
        {{ else if eq .Name "invalid-link" }}
        {{ template "invalid-link" . }}
        {{ else if eq .Name "invalid-url" }}
        {{ template "invalid-url" . }}
        {{ else if eq .Name "not-found" }}
        {{ template "not-found" }}
        {{ else}}
        {{ template "failure" }}
        {{ end }}
      </main>
    </div>

    {{template "footer"}}
  </body>
</html>
